<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">İlaç Hatırlatma Sistemi</a>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Anasayfa
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ilaçlarım">İlaçlarım</a>
      </li>
      
    </ul>
    <div class="col-4 d-flex justify-content-end align-items-center">
      <a  class="btn btn-lg btn-secondary" routerLink="/login">Çıkış</a>
      
      
    </div>
  </div>
</nav>
