<app-header></app-header>
<br>
<div class="row">
  <div class="col-lg-7 mt-4">
    <div class="card">
      <img class="img-responsive mx-auto" src="https://ogrencikariyeri.com//AdminFiles/CMS/Content/hastaliklar-2.jpg" alt="Image" />
      <div class="card-body">
        <h5 class="card-title text-center">Alzheimer Hastalığı</h5>
        <br>
        <p class="card-text">Alzheimer hastalığı (AH), bunama yapan hastalıklar içinde en sık izlenen bozukluktur. 
          AH yeni bir hastalık olmasa da hastaların sayısı giderek artmaktadır. 
          Çünkü Alzheimer ile ilgili en önemli risk faktörü yaştır ve yaşlanma kaçınılmaz bir durumdur. 
          Günümüzde tüm dünyada (özellikle gelişmiş ülkelerde ve refah toplumlarında) en hızlı artan yaş grubunu 65 yaş ve üstü kişiler oluşturmaktadır. 
          Alzheimer hastalığının görülme sıklığı yaş ile artmaktadır (65 yaş üstü 100 kişiden 8'inde Alzheimer hastalığı görülmektedir). 
          21. yüzyılda doğal, sosyal veya ekonomik felaketlerle karşılaşılmazsa hastalığın görülme sıklığı daha da artacaktır. 
          Günümüzde Türkiye’de 300 bin civarında Alzheimer hastası olduğu düşünülmektedir. 
          Genç nüfusun giderek yaşlanacağı bir ülke olarak Türkiye’de 30-40 yıl sonra bu hastalığın en önemli sağlık sorunu olacağı ön görülmektedir.
 
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-5 mt-4">
    <div class="card">
      <img class="img-responsive mx-auto" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT3BLQAendsJbC9vNlPTnATHOerilIPuyoyCw&usqp=CAU" alt="Image" />
      <div class="card-body">
        <h5 class="card-title text-center">İlaç Hatırlatma Sistemi</h5><br>
        <p class="card-text">
         İlaçlarınız kontrol altında tutularak doktorlarınızın denetimi altında takip edilmesini kolaylaştırılması amaçlanmıştır.
           </p>
      </div>
    </div>
  </div>
</div>

